.image-preview img{
    margin-left: 40%;
    margin-top: 10%;
    border-top: 30px solid skyblue;
    border-right: 30px solid lightpink;
    border-bottom: 30px solid lightgreen;
    border-left: 30px solid #ffefd5 ;
  

}

table{
    margin-left: 35%;
    margin-top: 50px;
    border-collapse: collapse;
}

th{
    border-bottom: 2px solid black;
}

td{
    border-bottom: 2px solid black;
}